<%- include ../partials/header.ejs %>
    <%- include ../partials/main_nav.ejs %>
        <main class="container">
            <h1 class="display-4">List of Surveys</h1>
            <br>
            
            <a href="/survey-list/add" class="btn btn-secondary" role="button">
            <i class="fas fa-plus" ></i> Add a survey</a>
            <br>
            <table class="table table-hover">
            <br>
                <thead>
                    <tr>
                        <th scope="col">Title of Survey</th>
                        <th scope="col">Date Created</th>
                        <th scope="col">Expiry Date</th>
                        <th scope="col">Type of Survey</th>
                        <th scope="col">Sample Questions</th>
                        <th scope="col">Answer</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                            <% for(let count=0; count<surveyList.length; count++){%>
                            <td><%= surveyList[count].name %></td>
                            <td><%= surveyList[count].created %></td>
                            <td><%= surveyList[count].expiry %></td>
                            <td><%= surveyList[count].type %></td>
                            <td><%= surveyList[count].questions %></td>
                            <td><%= surveyList[count].answer %></td>
                          
                            <td>
                                <a href="/survey-list/edit/<%= surveyList[count]._id %>" class="btn btn-warning btn-sm">
                                 Edit</a>
                            </td>
                            <td>
                                <a href="/survey-list/delete/<%= surveyList[count]._id %>" class="btn btn-danger btn-dark btn-sm">
                               Delete</a>
                            </td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </main>
        <br>
        <br>
        <br>
        <%- include ../partials/bottom_nav.ejs %>
            <%- include ../partials/footer.ejs %>